body{
    background-image: url(../photos/AnteStor.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.bg-light{
    background-color: transparent !important;
    
}

.background{
    width: 100%;
    height: 100%;
}

.navbar ul{
    margin-left: 40%;
    
}